{% load static fresh_static%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %}Ask Company{% endblock %}</title>
    <style>
        body{
            background-color: #edecd6;
        }
    </style>
    <!--static file-->
    {% block extra_head %}
        <link rel="stylesheet" href="{% fresh_static "main.css" %}"/>
    {% endblock %}
</head>
<body>
    <h1>Ask Company</h1>

    {% block content %}
    {% endblock %}

    <hr/>
    &copy; 2020. Ack Company.

    <!--static file-->
    {% block extra_body %}
        <script src="{% static "main.js" %}"></script>
    {% endblock %}
</body>
</html>
